html{
    scroll-behavior: smooth;
}

*{margin:0;
 padding:0;
 box-sizing: border-box;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
    
}

.extra-div h2,servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}
i{
    color: #2fccd0;
}
.header{
    width: 100%;
    height: 100vh;
    background-image:url("./img/background.jpg");
    background-repeat: no-repeat;
    position: relative;
    /* clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%,0 0); */
    background-size:cover;
    
}

.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right:0;
    opacity: 0.4%;
    z-index: -1;
    /* background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%); */
    
}
.navbar:before{
     content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right:0;
    opacity: 0.4%;
    z-index: -1;
    /* background:linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%); */
}
.nav-item a{
    color: black!important;
    font-weight: bold;
    
}
.header-section{
    width: 100%;height: inherit;
    color: white;
    text-align: center;
    position: relative;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.centre-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-family: 'Poppins', sans-serif;
    color: black;
    
}
.header-buttons a{
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    
    
}
.header-buttons a:hover{
    color: #50d1c0;
    background: white;
    
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}

.centre-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
    
    
}

/*****extra header div css start**********/
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
    
background: linear-gradient(to bottom, #add8e6, #90ee90);

    
    
}
.extra-div{
    background: rgb(255, 255, 255);
    border: medium none;
    padding: 50px!important;
    border-radius: 0px;
    transition:0.3s
    
    
}
.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

/******** offer section start ********/

/********offers css start ************/

.serviceoffers{
    background: #a5da6a;
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;
    
}
.headings h1{
    font-weight:600;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    
}
.service-icons{
    display: flex;
    justify-content: center;
    align-content: center;
    left:2%
}

.progress{
    height: 0.6rem!important;
    margin-bottom: 25px!important;
    background: #606060;
    
}

/********offers css ends ************/
/****** projects div starts ********/

.project-work{
    margin: 100px 0;
    
}
.project-works h1{
    font-size: 2rem;
    text-align: center;
    
}
/****** projects div ends ********/
/****** PRICING DIV STARTS *******/
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing:before{
     content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right:0;
    z-index: -1;
    background:linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}


.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
    justify-content: center;
    text-align: center;
    
    
}
.card:hover .money{
    color: #50d1c0;
}
.card:hover .card-header{
    color: #50d1c0;
}
.card{
    transition: 0.4s ease;
    align-content: center;
    width: 100%;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: white!important;
    padding: 25px 9!important;
    
}

.card-body{
    padding: 30px 0px!important;
    
}
.card-body li{
    margin:10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform:translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    
}


/****** PRICING DIV ENDS *******/

/******* customer feedback starts ****/
.happyclients{
    width:100%;
    height: 100vh;
    padding: 80px 0;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.box:hover{
    background: #16c9f6;
    
}
boc:hover p{
    color: white;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px!important;
}
.carousel-indiactors li{
    background-color: #16c9f6!important;
}
.box a {
    position: relative;
    
}
.box a img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top:20px
}
.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    background:#50d1c0;
    border-radius:50%;
    color: white;
    position: absolute;
    top: 190%;
    left: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box h1{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
}
.box h2{
    font-size: 13px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
    
    
}
/******* customer feedback ends ****/
/******* contact us starts ****/
.contactus{
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
    
}
.contactus:before{
    content: "";
    position: absolute;
     top: 0%;
    bottom: 0%;
    left: 0;
    right:0;
    background: linear-gradient(330deg,#16c9f6 55%, #fff 0%);
    z-index: -1;
}

.button{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
form:hover .button button{
    background: white!important;
    text-align: center;
    color:  #50d1c0!important;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    transition: 0.3s ease;
    outline: none;
    font-size: 1rem;
    border: 1px solid #50d1c0!important;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
     box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform:translateY(-20px);
}
.button button{
    background: #16c9f6!important;
    color: #16c9f6!important;
    border: none;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    text-align: center;
    font-size: 1rem;
     font-weight: 400;
    line-height: 1.4;
    
}

/******* contact us ends ****/

/**** newsletter starts ****/
.news-button{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 100px!important;
    margin: 30px 0 30px 0;
    
}
.news-button button{
    border-radius: 100px!important;
    height: 50px;
    width: 120px;
    border: 1px solid #16c9f6;
    background: #16c9f6!important;
}

.newsletter{
    width: 100%;
    height: auto;
   padding: 50px;
    
    
}
.news-input{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 150px;
    min-height: 45px;
    
    
}

/*** footer css starts ********/
.footer-section{
   
    background: #00abff!important;
    position: relative;
    padding:100px 0 70px 0;
}
.footer-section p{
    color: white;
    
}
.footer-section li a{
    font-size: 0.9rem;
    line-height: 1.6;
    color: white;
    font-weight: 400;
    
    text-transform: capitalize;
}
.footer-section h3{
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
    font-size: 1.2rem!important;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
#mybutton{
    
    position: fixed;
    border:none;
    bottom:20px;
    color: white!important;
    z-index: 99;
    right: 40px;
    background: #00abff!important;
    padding: 10px;
    border-radius: 10px;
    
}
#mybutton:hover{
    background: #606060!important;
}

@media(max-width:768px){
    .nav-item{
        text-align: center!important;    }
      }
.pricing,.happyclients{
    height: auto;
    margin-top: 50px;
}